name: Trigger update to partners.pactflow.io

on:
  push:
    branches:
      - master
    paths:
      - '**.md'

jobs:
  run:
    if: ${{ github.repository == 'pactflow/example-provider' }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger update
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.GHTOKENFORTRIGGERINGPACTDOCSUPDATE }}
          repository: pactflow/partners.pactflow.io
          event-type: pactflow-example-provider-js-updated
